.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;

    > h2 {
        font-size: 2rem;
        margin-bottom: 16px;
    }

    > fieldset {
        display: flex;
        flex-direction: column;
        margin-bottom: 8px;

        > label {
            margin-bottom: .5rem;
        }
        > input {
            padding: 1rem;
            border: 1px solid #a7a2a2;
            border-radius: 8px;
        }
    }
    > button {
        padding: 1rem;
        background: #92c900;
        border-radius: 8px;
    }
}