#home {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 24px;
    
    @media (min-width: 768px) {
        height: calc(100vh - 200px);
        flex-direction: row;
        > * {
            flex: 1 1 0px;
        }
    }
}