
.header {
    padding: 16px;
    background: #eee;
    display: flex;
    justify-content: space-between;
    
    > nav {
        display: flex;
        gap: 16px;

        > a {
            color: #000;
        }
    
    }
}